body {
    display: flex;
    justify-content: center;
    background-color: #481953;
  }
  
  .container {
    display: flex;
    width: 900px;
    height: 150px;
    background-color: #317dd3;
    justify-content: space-around;
    align-items: center;
    font-size: 100px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    margin-top: 240px;
    border-color: white;
    border-style: dotted;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.613);
  }